body {
  font-family: "Helvetica Neue";
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 960px;
  -webkit-font-smoothing: antialiased;
}

b {
  font-weight: bold;
}

#body { }


  #main-area {
    position:relative;
    left: 0px;
    top: 0px;
    /*
    border-width: 2px;
    border-color: red;
    background-color: grey;
    border-style: solid;
    */
  }

    #main-left {
      position:relative;
      left: 0px;
    }

    .legend {
      position:absolute;
      font-size: small;
      height: 10px;
      width: 150px;
      right: 40px;
    }

    #legend-x {
      top:70px;
    }

    #legend-y {
      top:85px;
    }

#second-area {
  position:relative;
  display:none;
}

#main-table {
  position:absolute;
  top:0;
  right:0;
  width: 450px;
}

#subplots {
  position:absolute;
  width:400px;
}

#isize-plot {
}

#mapq-plot-r1 {
}

#mapq-plot-r2 {
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
}

