body {
  font-family: "Helvetica Neue";
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 960px;
  -webkit-font-smoothing: antialiased;
}

b {
  font-weight: bold;
}

.bold {
  font-weight:bold;
}

#body { }

  #main-area {
    position:relative;
    left: 0px;
    top: 0px;
    /*
    border-width: 2px;
    border-color: red;
    background-color: grey;
    border-style: solid;
    */
  }

    #main-left {
      position:relative;
      left: 0px;
    }

    .legend {
      position:absolute;
      font-size: small;
      height: 10px;
      width: 150px;
      right: 5px;
    }

    #legend-x-dups   { top:70px; }
    #legend-y-dups   { top:85px; }
    #legend-x-mapped { top:200px; }
    #legend-y-mapped { top:215px; }

    #quick-bam-id {
      top: 270px;
    }

#second-area {
  position:relative;
  display:none;
}

#bam-id {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
    /*
    border-width: 2px;
    border-color: red;
    background-color: grey;
    border-style: solid;
    */
}

#main-table {
  padding-top: 45px;
  position:absolute;
  top:0;
  right:0;
  width: 450px;
}

#subplots {
  padding-top: 45px;
  position:absolute;
  top:0;
  width:400px;
}

#isize-plot {
}

#mapq-plot-r1 {
}

#mapq-plot-r2 {
  padding-bottom: 20px;
}

.axis path,
.axis line {
  fill: none;
  stroke-width: 2;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
}
